/* * {
    max-width: 100%;
} */

.cont-style {
    padding: 0 4.6rem;
}

.cont-style-mobile {
    padding: 0;
    margin-bottom: 1rem;
}

.pw-reset-cont-style {
    padding: 0 4.6rem;
    max-width: 50%;
}

.mobile-logo {
    width: 50%;
}

.mobile-menu {
    width: 50%;
    max-width: 20rem;
    display: flexbox;
    justify-self: right;
}

.item-button-container-mobile {
    margin: 0;
}

.ui.button.basic.link, .ui.button.basic.link:hover, .ui.button.basic.link:focus {
    box-shadow: 0 0 !important;
    padding: unset;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }